/*
 * Keyboard Blocker - Resource script
 * Copyright (c) 2025 Pavel Bashkardin
 *
 * This file is part of Keyboard Blocker project, released under MIT license.
 *
 * Description: Resource script linking icon files to resource identifiers.
 */

#include "resource.h"

IDI_ICON32      ICON    "icon32.ico"
IDI_ICON16      ICON    "icon16.ico"
