/*
 * Keyboard Blocker - Resource script
 * Copyright (c) 2025 Pavel Bashkardin
 *
 * This file is part of Keyboard Blocker project, released under MIT license.
 *
 * Description: Resource script linking manifest for running as administrator.
 */


#include <windows.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "uninstall.xml"
